<!-- <div class="h-full flex bg-white dark:bg-slate-950">

 
  <div class="w-full lg:w-96 border-r border-slate-200 dark:border-slate-800"
       [class.hidden]="selectedConversationId && window.innerWidth < 1024">
    <app-chat-list></app-chat-list>
  </div>

 
  <div class="flex-1 relative"
       [class.hidden]="!selectedConversationId && window.innerWidth < 1024">

   
    <div class="lg:hidden h-14 flex items-center px-3 border-b dark:border-slate-800">
      <button (click)="goBackMobile()" class="mr-3">
        <span class="material-icons">arrow_back</span>
      </button>
      <span class="font-semibold">Chat</span>
    </div>

    <router-outlet></router-outlet>
  </div>

</div> -->
